body {
    background-color: #f9f9fa;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 0;

    .card-body {
        flex: 1 1 auto;
        padding: 1.25rem 1.75rem;
    }

    .card-title {
        color: #000000;
        margin-bottom: 0.625rem;
        text-transform: capitalize;
        font-size: 0.875rem;
        font-weight: 500;
    }
}

.pr-3,
.px-3 {
    padding-right: 1rem !important;
}

.add-items {
    margin-bottom: 1.5rem;
    overflow: hidden;

    input[type="text"] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        background: transparent;
    }
}

.d-flex {
    display: flex !important;
}

.form-control {
    border: 1px solid #f3f3f3;
    font-weight: 400;
    font-size: 0.875rem;
    display: block;
    width: 100%;
    padding: 0.875rem 1.375rem;
    font-size: 1rem;
    line-height: 1;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.add-items 

.btn {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 400;
    padding: .7rem 1.5rem;
    border-radius: 0.1275rem;
}

.list-wrapper {
    height: 100%;
    max-height: 100%;
}

.add-items {
    margin-bottom: 1.5rem;
    overflow: hidden;

    .btn {
        margin-left: .5rem;
    }

    input[type="text"] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        background: transparent;
    }
}

.list-wrapper {
    height: 100%;
    max-height: 100%;

    ul {
        padding: 0;
        text-align: left;
        list-style: none;
        margin-bottom: 0;

        .task {
            font-size: .9375rem;
            padding: .4rem 0;
            border-bottom: 1px solid #f3f3f3;
            display: flex;
            justify-content: space-between;

            &:first-child {
                border-bottom: none;
            }

            .form-check {
                max-width: 90%;
                position: relative;
                display: block;
                margin-top: 10px;
                margin-bottom: 10px;
                padding-left: 0;

                label:hover {
                    cursor: pointer;
                }

                .form-check-label{
                    min-height: 18px;
                    display: block;
                    margin-left: 1.75rem;
                    font-size: 0.875rem;
                    line-height: 1.5;

                    .title{
                        line-height: normal;
                        position: relative;

                        &:after{
                            content: '';
                            display: block;
                            height: 2px;
                            width: 0;
                            background-color: rgba(128, 128, 128, .7);
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transition: width .15s linear;
                        }
                    }

                    input{
                        position: absolute;
                        opacity: 0;
                        height: 0;
                        width: 0;
                        cursor: pointer;
                    }

                    .styled-checkbox{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 18px;
                        width: 18px;
                        background-color: white;
                        border:2px solid #405189;
                        transition: all .2s;
                        border-radius: 2px;
                    }   
                }
            }

            .form-check,
            .form-check .form-check-label{
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 100%;
                white-space: nowrap;
                margin-bottom: 0;
            }

            &.completed{
                .form-check{
                    .styled-checkbox{
                        background-color: #405189;
                    }

                    .title{
                        opacity: .7;

                        &:after{
                            width: 100%;
                        }
                    }
                }
            }

        }
    }

}
